aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
attrs
customtkinter
darkdetect
dataclass-factory
frozenlist
idna
imageio-ffmpeg
multidict
nest-asyncio
numpy
packaging
pillow
propcache
pydantic
pydantic_core
pydub
shazamio
shazamio_core
tqdm
typing-inspection
yarl
yt-dlp
pyinstaller
pyperclip
flask
